version: '3'
services:
  rest:
    build: .
    image: greeter-microservice
    ports:
      - "80:80"
    environment:
      # port 80 is actually already defined as default for docker as ENV in Dockerfile
      - MICRONAUT_SERVER_PORT=80
#      # log as JSON
#      - LOG_APPENDER=json-stdout
#      # enable health check if Consul is used
#      - CONSUL_CLIENT_HEALTH_CHECK=true
#      # register this service on Consul
#      - CONSUL_CLIENT_REGISTRATION_ENABLED=true
#      # search for services on Consul
#      - CONSUL_CLIENT_DISCOVERY_ENABLED=true
#      # Consul server
#      - CONSUL_HOST=consul
#      - CONSUL_PORT=8500

#  # Service registration and discovery with Consul
#  consul:
#    image: consul:1.8.4
#    ports:
#      - "8500:8500"

#  # Database and admin tools
#  db:
#    image: mariadb:10.5.8-focal
##    ports:
##      - 3306:3306
#    environment:
#      - MYSQL_ROOT_PASSWORD=password
#      # would not create a database if MYSQL_DATABASE is not set
#      - MYSQL_DATABASE=db
#      - MYSQL_USER=user
#      - MYSQL_PASSWORD=password
#  phpmyadmin:
#    image: phpmyadmin:5.0.4
#    ports:
#      - 8090:80
#    environment:
#      - PMA_HOST=db
#      - UPLOAD_LIMIT=1024000
#  adminer:
#    image: adminer:4.7.8-standalone
#    ports:
#      - 8091:8080
#    environment:
#      - ADMINER_DEFAULT_SERVER=db